/*html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
    }*/

    body {
        background: url('/images/hero.jpg') no-repeat center center;
        /* https://css-tricks.com/forums/topic/responsive-hero-image-with-text-overlay/ */
        width: 100%;
    }

    .hide-word {
        color: #dadada;
        background-color: #dadada;
    }

    .content {
        width: 1100px;
    }

    .word-table-header{
         padding: 0;
    }
    
    .word {
        width: 120px;
    }
    .pronunciation {
        width: 100px;
    }
    .type {
        width: 90px;
    }
    .meaning {
        width: 250px;
    }
    .example {
        width: 350px;
    }

    .table td{
        padding: 10px 0px 10px 0px;
    }

    .full-height {
        height: 100vh;
    }

    .flex-center {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .position-ref {
        position: relative;
    }

    .top-right {
        position: absolute;
        right: 10px;
        top: 18px;
    }

    .content {
        text-align: center;
    }

    .title {
        font-size: 20px;
    }

    .links > a {
        color: #636b6f;
        padding: 0 25px;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: .1rem;
        text-decoration: none;
        text-transform: uppercase;
    }
